:root
{
	--default-red: #EC1C23;
	--blue-black: #263443;
	--dark-gray: #A4ACB4;
	--light-gray: #E6E6E6;
	--white-gray: #FAFAFA;
	--black: #000000;
	--roboto: 'Roboto';
	--inter: 'Inter';
	--default-font-color: #656565;
	--background-gray: #F9F6F6;
	--outline-box-color: #CFD8DC;
	--font-blue-black: #8794a1;
	--dark-blue-background: #121A23;
	--modern-black: #2D2D33;
	--modern-red: #C40C14;
	--bold-weight: 700;

	--button-font-size: 0.93em;
	--button-padding: 0.875em 1.875em;
	--button-font: 'Inter';
	--button-border-radius: 3px;
	--button-background: 'white';
	--button-color: #2D2D33;

	--border-gray: #cbd1d6;

	--header-height: 80px;
}

html
{
	scroll-behavior: smooth;
}

body
{
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	width: 100dvw;
	height: 100%;
	color: var(--default-font-color);
	box-sizing: border-box;
	font-size: 14pt;
	font-family: var(--inter);
}

h1, h2, h3, h4, h5, h6
{
	margin: 0;
	color: var(--modern-black);
}

a
{
	text-decoration: none;
	color: inherit;
}

p
{
	text-align: justify;
}

strong
{
	color: var(--modern-black);
}

/* HEADER */
header
{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: var(--header-height);
	background-color: white;
	border-bottom: 1px solid var(--dark-gray);
	box-shadow: 0px 0px 4px 0px var(--dark-gray);
	box-sizing: border-box;
	justify-content: space-around;
	align-items: center;
	top: 0;
	z-index: 10;
	position: sticky;
	/* padding: 0 48px; */
}

.logo
{
	width: auto;
	height: 3.3em;
	object-fit: contain;
}

header nav
{
	display: flex;
	gap: 32px;
	height: var(--header-height);
	background-color: white;
	justify-content: space-between;
	align-items: center;
}

.hamburger
{
	display: none;
	font-size: 20pt;
	cursor: pointer;
}

.nav-item
{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	cursor: pointer;
	height: 100%;
	color: var(--modern-black);
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	font-size: 12pt;
	transition: 0.3s ease;
}

.nav-item:hover
{
	color: var(--modern-red)
}

.nav-item::after
{
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background-color: var(--modern-red);
	transform: scaleX(0);
	transition: 0.3s ease;
}

.nav-item:hover::after
{
	transform: scaleX(1);
}

.button-cta
{
	border: 1px solid var(--modern-red);
	/* height: calc(0.8 * var(--header-height)); */
	height: fit-content;
	padding: 16px;
	border-radius: 3px;
	font-weight: 600;
	color: var(--modern-black);
	font-size: 12pt;
	cursor: pointer;
	transition: 0.3s ease;
}

.button-cta:hover
{
	background-color: var(--light-gray);
}

@media (max-width: 1200px)
{
	.hamburger
	{
		display: block;
	}

	header
	{
		flex-direction: column;
		height: fit-content;
	}

	header nav
	{
		display: none;
		flex-direction: column;
		height: fit-content;
		width: 100%;
	}

	header nav.show
	{
		display: flex;
	}
}

/* MAIN */
main
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

section
{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 32px;
	margin: 48px 0;
	box-sizing: border-box;
	font-size: 16pt;
	scroll-margin-top: 80px;
}

section:nth-child(odd)
{
	background-color: var(--background-gray);
}

.underline
{
	position: relative;
}

.underline::after
{
	content: '';
	position: absolute;
	left: 0;
	bottom: -0.2em;
	width: 100%;
	height: 4px;
	background-color: var(--modern-red);
}

.section-inner
{
	width: 80%;
}

figure img
{
	border-radius: 3px;
	width: 100%;
	box-shadow: 0px 0px 24px 0px #ffffff;
}

figcaption
{
	opacity: 0.6;
}

.section-inner .wrapper
{
	display: flex;
	flex-direction: row;
	gap: 16px;
	margin-top: 48px;
	align-items: flex-start;
}

.section-inner .wrapper .left, .section-inner .wrapper .right
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 50%;
	box-sizing: border-box;
}

.section-inner .wrapper .left img
{
	width: 100%;
}

@media (max-width: 1200px)
{
	.section-inner
	{
		width: 100%;
	}

	.section-inner .wrapper
	{
		flex-direction: column;
		align-items: center;
	}

	.section-inner .wrapper .left, .section-inner .wrapper .right
	{
		width: 100%;
	}
}

.section-inner .wrapper .left form
{
	width: 70%;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

input[type="text"], input[type="email"], input[type="tel"], textarea
{
	width: 100%;
	padding: 12px 16px;
	border: 1px solid var(--border-gray);
	outline: none;
	font-size: 12pt;
	font-family: var(--inter);
	resize: vertical;
	transition: 0.3s ease;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus, textarea:focus
{
	border: 1px solid var(--modern-red);
}

.checkbox
{
	display: flex;
	flex-direction: row;
}

.checkbox-wrapper-46
{
	margin-right: 15px;
}

.checkbox-wrapper-46 input[type="checkbox"]
{
	position: absolute;
	opacity: 0;
	transform: translateY(10px);

}

.checkbox-wrapper-46 .cbx
{
	margin: auto;
	-webkit-user-select: none;
	user-select: none;
	cursor: pointer;
}

.checkbox-wrapper-46 .cbx span
{
	display: inline-block;
	vertical-align: middle;
	transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-46 .cbx span:first-child
{
	position: relative;
	width: 25px;
	height: 25px;
	border-radius: 2px;
	transform: scale(1);
	vertical-align: middle;
	border: 1px solid var(--border-gray);
	transition: all 0.2s ease;
}

.checkbox-wrapper-46 .cbx span:first-child svg
{
	position: absolute;
	top: 7px;
	left: 7px;
	fill: none;
	stroke: #ffffff;
	stroke-width: 2px;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-dasharray: 24px;
	stroke-dashoffset: 24px;
	transition: all 0.3s ease;
	transition-delay: 0.1s;
	transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-46 .cbx span:first-child:before
{
	content: "";
	width: 100%;
	height: 100%;
	background: var(--modern-red);
	display: block;
	transform: scale(0);
	opacity: 1;
	border-radius: 50%;
}

.checkbox-wrapper-46 .cbx span:last-child
{
	padding-left: 8px;
}

.checkbox-wrapper-46 .cbx:hover span:first-child
{
	border-color: var(--modern-red);
}

.checkbox-wrapper-46 .inp-cbx:checked+.cbx span:first-child
{
	background: var(--modern-red);
	border-color: var(--modern-red);
	animation: wave-46 0.4s ease;
}

.checkbox-wrapper-46 .inp-cbx:checked+.cbx span:first-child svg
{
	stroke-dashoffset: 0;
}

.checkbox-wrapper-46 .inp-cbx:checked+.cbx span:first-child:before
{
	transform: scale(3.5);
	opacity: 0;
	transition: all 0.6s ease;
}

@keyframes wave-46
{
	50%
	{
		transform: scale(0.9);
	}
}

label
{
	font-size: 10pt;
	color: var(--dark-gray);
	cursor: pointer;
}

input[type="submit"]
{
	outline: none;
	border: none;
	background-color: var(--default-red);
	color: var(--white-gray);
	padding: 16px;
	border-radius: 3px;
	width: fit-content;
	cursor: pointer;
	transition: 0.3s ease;
}

input[type="submit"]:hover
{
	background-color: var(--modern-red);
}

.section-inner .wrapper .right .map
{
	width: 100%;
	height: 600px;
	border: none;
}

.message-sent-modal
{
	display: flex;
	width: 330px;
	height: 80px;
	position: fixed;
	bottom: 25px;
	left: 25px;
	gap: 15px;
	box-sizing: border-box;
	padding: 10px 15px;
	border-radius: 8px;
	overflow: hidden;
	align-items: center;
	justify-content: space-around;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	background: #ffffff;
	border-left: 4px solid #04e400;
}

.message-sent-modal svg
{
	width: 30px;
	height: 30px;
}

.message-sent-modal .content
{
	display: flex;
	flex-direction: column;
	font-size: 12pt;
}

.hidden
{
	display: none;
}

/* FOOTER */
footer
{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 40dvh;
	background-color: var(--blue-black);
	color: var(--font-blue-black);
	box-sizing: border-box;
	justify-content: space-between;
	align-items: center;
}

.footer-top
{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 80%;
}

.footer-top .left, .footer-top .right
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	gap: 16px;
}

.footer-top .left
{
	flex: 1;
	border-right: 1px solid var(--font-blue-black);
	font-size: 12pt;
}

.footer-top .right
{
	flex: 4;
	justify-content: center;
	align-items: center;
}

.right h2
{
	text-transform: uppercase;
	color: #e0e0e0;
}

.contact-boxes
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	gap: 32px;
}

.contact-boxes .box
{
	width: 300px;
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 8px;
	border-bottom: 1px solid var(--font-blue-black);
	transition: 0.3s ease;
	cursor: pointer;
}

.contact-boxes .box:hover
{
	background-color: #2e3f52;
}

.footer-bottom
{
	background-color: var(--dark-blue-background);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 20%;
}

@media (max-width: 1200px)
{
	footer
	{
		height: fit-content;
	}

	.footer-top
	{
		flex-direction: column;
	}

	.footer-top .left
	{
		border: none;
		margin-bottom: 16px;
	}

	.contact-boxes
	{
		flex-direction: column;
	}
}